:root {
    --clr-prim: #09090b;
    --clr-sec: #1e293b;
    --clr-other: #334155;
    --clr-text: #cbd5e1;
    --clr-titles: #e2e8f0;
    --clr-side: #cbd5e1;
    --filter: invert(96%) sepia(98%) saturate(507%) hue-rotate(175deg) brightness(95%) contrast(85%);
    --box-shadow: 5px 5px 4px 4px rgb(0,0,0,0.3);


    --gap-main: 1rem;
    --border-radius: 16px;
    --header-footer-height: clamp(100px, 100px + 5vh ,150px);
    --font-size: clamp(0.55rem, 0.6rem + 0.2vw, 1.2rem);
}

:root.light {
    --clr-prim: #bfdbfe;
    --clr-sec: #dbeafe;
    --clr-other: #2563eb;
    --clr-text: #172554;
    --clr-titles: #1d4ed8;
    --clr-side: #cbd5e1;
    --filter: invert(11%) sepia(49%) saturate(2532%) hue-rotate(211deg) brightness(94%) contrast(94%);
    --box-shadow: 5px 5px 4px 4px rgb(2, 27, 70, 0.4);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--clr-text);
    line-height: 1.5;
}

*:not(i) {
    font-family: quicksand;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 { color: var(--clr-titles) }

body {
    background-color: var(--clr-prim);
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: var(--header-footer-height) 1fr var(--header-footer-height);
    font-size: var(--font-size);
}

.sidebar {
    background-color: var(--clr-other);
    grid-area: 1 / 1 / -1 / span 1;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: calc(1.2 * var(--gap-main));
    padding: var(--gap-main);
    font-size: 1.3em;

    & > h1 {
        padding-bottom: 1em;
    }

    & * {
        color: var(--clr-side);
    }

    & i {
        padding-right: 0.6em;
    }
}

.right-side {
    display: grid;
    grid-template-rows: var(--header-footer-height) 1fr var(--header-footer-height);
    grid-area: 1 / 2 / -1 / -1
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-sec);
    filter: drop-shadow( 5px 4px 4px rgb(2, 27, 60, 0.4));
    padding: var(--gap-main) calc(3 * var(--gap-main));
}

.row {
    display: flex;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    flex: 3;
}

.header-button i {
    font-size: 3em;
}

form {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex: 10;
}

form > img {
    height: 3em;
    width: auto;
    filter: var(--filter);
}

[type="search"] {
    width: 80%;
    padding: 0.5em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--clr-prim);
    color: var(--clr-text);
    box-shadow: 1.5px 1.5px 3px 3px rgb(0,0,0,0.5);
    font-size: 1.2em;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: calc(2 * var(--gap-main));
    padding: calc(2 * var(--gap-main));
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: max-content;
    gap: calc(3 * var(--gap-main));
    grid-row: 2 / -1;
}

.card {
    position: relative;
    background-color: var(--clr-sec);
    display: grid;
    grid-template-rows: 2em 250px 1fr 3em;
    gap: 1em;
    padding: 1em 1.5em;
    border-radius: var(--border-radius);
    font-size: 1.3em;
    box-shadow: var(--box-shadow);
}

.card-img-link {
    place-self: center;
}

.card-img {
    position: relative;
    height: 250px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;  
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease-in-out;
}

.card-img:hover {
    transform: translate(10px, -10px) scale(1.05);
    box-shadow: 6px 6px 4px 4px rgb(0,0,0,0.9);
    opacity: 0.5;
    cursor: pointer;
}

.card-links {
    place-self: end;
    & > * {
        padding: 0.25em;
    }    
}

.card::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0%;
    left: -0.8%;
    height: 100%;
    width: 100%;
    background-color: var(--clr-titles);
    border-radius: var(--border-radius);
}

.other {
    display: flex;
    flex-direction: column;
    align-self: start;
    background-color: var(--clr-sec);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1em;
}

.course {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0.7em;
    gap: 0.5em;
}

.course:not(:last-child) {
    border-bottom: 2px solid var(--clr-prim);
}

.course-header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.course-title {
    color: var(--clr-titles);
    flex: 1;
}

.course-org {
    text-align: center;
}

.course-completion {
    font-style: italic;
}

.course-desc {
    font-size: 1.2em;
}

.course-link {
    margin-right: 0.2em;
    margin-left: auto;

    & img {
        width: 2em;
        height: 2em;
        filter: var(--filter);
    }
}

.footer {
    background-color: var(--clr-sec);
    display: grid;
    place-content: center;
    font-size: 1.3em;

    & i {
        font-size: 1em;
    }
}

a:not(:has(img)) {
    transition: all 0.035s ease-in-out;
}

a:not(:has(img)):hover {
    transform: translate(8%, -8%) scale(1.1);
}

.card-links a {
    display: inline-block;
}
